<!-- 

<div class="container" dir="rtl">
    <div class="row justify-content-center">
        <div class="col-6 confirm-password p-5">
            <div *ngIf="!isPasswordCorrect" class="m-3">
                <p class="text-center">הכנס סיסמת מנהל לאימות</p>
                <mat-form-field class="col-12">
                    <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'" placeholder="סיסמא:">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Toggle password visibility'">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
                <button (click)="checkPassword(password)" class="col-8 mt-3 button">אימות סיסמה</button>
            </div>
        </div>
    </div>
</div> -->



<div class="container" dir="rtl">
    <div class="row justify-content-center">
        <div class="col-6 confirm-password p-5">
<h2 mat-dialog-title class="text-center">הכנס סיסמת מנהל לאימות</h2>
<div mat-dialog-content>
  <form (ngSubmit)="confirmPassword()">
    <mat-form-field> 

        <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'" placeholder="סיסמא:"  name="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Toggle password visibility'">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    </mat-form-field>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button class="col-4 mt-3 button" (click)="onCancel()">ביטול</button>
  <button mat-button class="col-4 mt-3 button" (click)="confirmPassword()">אימות</button>
</div>
</div>
</div>
</div>
