
<div class="container" dir="rtl">
    <div class="row justify-content-center">
        <div class="col-6 confirm-password p-5">
            <div *ngIf="!isPasswordCorrect" class="m-3">
                <p class=" text-center">הכנס סיסמת מנהל לאימות</p>
                <input type="password" [(ngModel)]="password" placeholder="סיסמא:" class="col-12 input-password">
                <button (click)="checkPassword(password)" class="col-8 mt-3 button">אימות סיסמה</button>
            </div>
        </div>
    </div>
</div>