
<mat-card  *ngIf="donate"  class="example-card">
    <mat-card-header>
      <mat-card-title>family size</mat-card-title>
      <mat-card-subtitle>{{donate.numChildren}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-title >case</mat-card-title>
        <mat-card-subtitle>{{donate.id}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-content>
        <mat-card-title>status</mat-card-title>
        <mat-card-subtitle>{{Statuses[donate.idStatus]}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-content>
        <mat-card-title>street</mat-card-title>
        <mat-card-subtitle>{{donate.street}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-content>
        <mat-card-title >needed</mat-card-title>
        <mat-card-subtitle >{{donate.needed}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-content>
      <mat-card-title>Raised:</mat-card-title>    
      <!-- <mat-card-subtitle *ngIf="sumDonationsByDonated>0; else elseBlock">{{ sumDonationsByDonated}}</mat-card-subtitle>
      <ng-template #elseBlock  > <mat-card-subtitle >0</mat-card-subtitle></ng-template> -->
      <mat-card-subtitle >{{ sumDonationsByDonated}}</mat-card-subtitle>
    </mat-card-content>    
    <mat-card-content>
      <mat-card-title>Neighborhood:</mat-card-title>
      <mat-card-subtitle>{{donate.idNeighborhoodNavigation.name}}</mat-card-subtitle>
  </mat-card-content>
   
  </mat-card>
  <br><br>
<div>
<mat-card  *ngFor="let donation of showDonations"  class="example-card">
  <mat-card-header>
    <mat-card-title>amount</mat-card-title>
    <mat-card-subtitle>{{donation.amount}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="donation.idDonated;else elseBlock">
      <mat-card-title >case</mat-card-title>
      <mat-card-subtitle >{{donation.idDonatedNavigation?.id}}</mat-card-subtitle>
    </mat-card-content>
<ng-template #elseBlock>
    <mat-card-content >  
      <mat-card-title  >General donation</mat-card-title>
      <mat-card-subtitle >{{donation.idNeighborhoodNavigation?.name}}</mat-card-subtitle>
    </mat-card-content>
  </ng-template>
   

<mat-card-content>

      <mat-card-title>date</mat-card-title>
      <mat-card-subtitle>{{calculateTimeDifference(donation.date)}}</mat-card-subtitle>
    </mat-card-content>

    <mat-card-content *ngIf="donation.dedication">
      <mat-card-title>Dedication</mat-card-title>
      <mat-card-subtitle>{{donation.dedication}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-content>
    <mat-card-title *ngIf="donation.isAnonymous; else isNotAnonymous" >Anonymous</mat-card-title>
</mat-card-content>
<ng-template #isNotAnonymous>
<mat-card-content >
  <mat-card-title  >Donor</mat-card-title>
  <mat-card-subtitle >{{donation.idDonorNavigation.firstName}}</mat-card-subtitle>
</mat-card-content>
</ng-template>
</mat-card>
<button (click)="showMoreDonations()" *ngIf="showDonations.length < fullDonations.length" >Show more</button>

</div>









