<!-- <div class="container px-5" dir="rtl">
    <div class=" change-donated mx-5">
        <div class="row">
            <h3 class=" change-donated-p my-5 px-4"> הוספת נתרם</h3>



            <div class="col-12">
                <form (ngSubmit)="onSubmitCreateFamily()" #myForm="ngForm">
                    <div class="row mb-4 justify-content-center">


                        <div class="col-md-3">
                            <div class="form-group">
                                <input id="LastName" name="Lname" [(ngModel)]="newDonate.name" #Lname='ngModel'
                                    type="text" maxlength="30" required pattern="[A-Za-zא-ת]+" class="form-control"
                                    placeholder="שם המשפחה *" />
                                <p class="formIntegrity" *ngIf="Lname.touched&&Lname.errors?.['required']">name is
                                    required.
                                </p>
                                <p class="formIntegrity" *ngIf="Lname.touched&&Lname.errors?.['pattern']">name includs
                                    only
                                    letters</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" name="parentTaz" maxlength="9" minlength="9"
                                    [(ngModel)]="newDonate.parentTaz" required class="form-control"
                                    placeholder="תז הורים *" />
                            </div>
                        </div>
                        
                    </div>

                    <div class="row mb-4 justify-content-center">


                        <div class="col-md-3">
                            <div class="form-group">
                                <input id="Street" type="text" name="street" maxlength="30"
                                    [(ngModel)]="newDonate.street" class="form-control" placeholder=" רחוב *"
                                    #address="ngModel" />
                                <p class="formIntegrity" *ngIf="address.touched&&address.errors?.['required']">name is
                                    required.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" name="numChildren" [(ngModel)]="newDonate.numChildren"
                                    #numChild="ngModel" required class="form-control" placeholder="מספר ילדים  *" />
                                <p class="formIntegrity" *ngIf="numChild.touched&&numChild.errors?.['required']">name is
                                    required.
                                </p>
                            </div>
                        </div>

                    </div>


                    <div class="row mb-4 justify-content-center">



                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="number" name="numberBuilding" [(ngModel)]="newDonate.numberBuilding"
                                    #numBuilding="ngModel" required class="form-control" placeholder="מספר בנין  *" />
                                <p class="formIntegrity" *ngIf="numBuilding.touched&&numBuilding.errors?.['required']">
                                    numberBuilding is
                                    required.
                                </p>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" name="needed" [(ngModel)]="newDonate.needed" #numBuilding="ngModel"
                                    #money="ngModel" required class="form-control" placeholder="סכום נצרך לתמיכה  *" />
                                <p class="formIntegrity" *ngIf="money.touched&&money.errors?.['required']">name is
                                    required.
                                </p>
                            </div>
                        </div>

                    </div>


                    <div class="row mb-4 justify-content-center">
                        <div class="col-md-3">
                            <div class="form-group">
                                <select id="Neighborhood" name="idNeighborhood" class="form-control" [(ngModel)]="newDonate.idNeighborhood"  >
                                    <option value="" disabled selected hidden>בחר שכונה</option>                       
                                    <option *ngFor="let neighborhood of neighborhoods" [value]="neighborhood.id">{{ neighborhood.name }}</option>
                                  </select>   
                                    <p class="formIntegrity" *ngIf="numBuilding.touched&&numBuilding.errors?.['required']">name is
                                        required.
                                    </p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <select id="Status" name="idStatus" class="form-control" [(ngModel)]="Status"  >
                                    <!-- <option *ngIf="!newDonate.idStatus" value="" disabled selected hidden>סטטוס *</option> -->
                                    <option *ngFor="let status of options" [value]="status">{{ status }}</option>
                                </select>
                                <p class="formIntegrity" *ngIf="numBuilding.touched&&numBuilding.errors?.['required']">
                                    name is
                                    required.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-start mt-3 mb-5">
                        <button class="px-4 py-2 change-donated-b" (click)="resetForm(myForm)" type="submit" >שינוי נתרם</button>
                    </div> 
                   
                </form>

            </div>
            
            <div class="col-12">
                <form (ngSubmit)="keepData()" #myForm="ngForm">
                    <div class="row mb-4 justify-content-center">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input id="LastName" name="Lname" [(ngModel)]="newDonor.lastName" #Lname='ngModel'
                                    type="text" maxlength="30" required pattern="[A-Za-zא-ת]+" class="form-control"
                                    placeholder="שם המשפחה *" />
                                <p class="formIntegrity" *ngIf="Lname.touched&&Lname.errors?.['required']">name is
                                    required.
                                </p>
                                <p class="formIntegrity" *ngIf="Lname.touched&&Lname.errors?.['pattern']">name includs
                                    only
                                    letters</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" maxlength="9" minlength="9" [(ngModel)]="newDonate.parentTaz"
                                    required class="form-control" placeholder="תז הורים *" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4 justify-content-center">


                        <div class="col-md-3">
                            <div class="form-group">
                                <input id="Street" type="text" maxlength="30" [(ngModel)]="newDonor.street"
                                    class="form-control" placeholder=" רחוב *" #address="ngModel" />
                                <p class="formIntegrity" *ngIf="address.touched&&address.errors?.['required']">name is
                                    required.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="newDonate.parentTaz" #numChild="ngModel" required
                                    class="form-control" placeholder="מספר ילדים  *" />
                                <p class="formIntegrity" *ngIf="numChild.touched&&numChild.errors?.['required']">name is
                                    required.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-4 justify-content-center">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="number" [(ngModel)]="newDonate.parentTaz" #numBuilding="ngModel" required
                                    class="form-control" placeholder="מספר בנין  *" />
                                <p class="formIntegrity" *ngIf="numBuilding.touched&&numBuilding.errors?.['required']">
                                    name is
                                    required.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="newDonate.parentTaz" #numBuilding="ngModel"
                                    #money="ngModel" required class="form-control" placeholder="סכום נצרך לתמיכה  *" />
                                <p class="formIntegrity" *ngIf="money.touched&&money.errors?.['required']">name is
                                    required.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4 justify-content-center">
                        <div class="col-md-3">
                            <div class="form-group">
                                <select id="Neighborhood" class="form-control" [(ngModel)]="selectedNeighborhood">
                                    <option *ngIf="!selectedNeighborhood" value="" disabled selected hidden>שכונה *
                                    </option>
                                    <option *ngFor="let neighborhood of neighborhoods" [value]="neighborhood.id">{{
                                        neighborhood.name }}</option>
                                </select>
                                <p class="formIntegrity" *ngIf="numBuilding.touched&&numBuilding.errors?.['required']">
                                    name is
                                    required.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select id="Neighborhood" class="form-control" [(ngModel)]="selectedNeighborhood">
                                    <option *ngIf="!selectedNeighborhood" value="" disabled selected hidden>שכונה *
                                    </option>
                                    <option *ngFor="let neighborhood of neighborhoods" [value]="neighborhood.id">{{
                                        neighborhood.name }}</option>
                                </select>
                                <p class="formIntegrity" *ngIf="numBuilding.touched&&numBuilding.errors?.['required']">
                                    name is
                                    required.
                                </p>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="text-start mt-3 mb-5">
                <button class="px-4 py-2 change-donated-b"> הוסף נתרם </button>
            </div> 
            <hr class="page-divider mb-5">
            <div class="row justify-content-end mb-5">
                <div class="col-6 px-5">
                    <h3 class=" change-donated-p mb-4 px-4"> ייבוא רשימת נתרמים</h3>
                    <p class="change-donated-text">חובה להעלות קובץ במבנה מתאים, ניתן להוריד קובץ דוגמא ולהכניס בו את כל
                        המידע.</p>
                    <p class="change-donated-text">שימו לב! אין לשנות סדר העמודות, להסיר או להוסיף. כל שינוי קטן ימנע
                        מהמערכת לקרוא את הקובץ שלכם.
                    </p>
                </div>
                <div class="col-5">
                    <button class="px-2 py-2 change-donated-example mt-5"> הורדת קובץ לדוגמא </button>
                    <button class="px-4  py-2 ps-5 change-donated-b mt-2"> העלה קובץ </button>

                </div>
            </div>
        </div>
    </div>
</div>