<div class="container" dir="rtl">
    <div class="row  justify-content-center ExportingDonationsAndContributions-wrapper mx-5">
        <p class="p-5 pb-0 ExportingDonationsAndContributions-p">{{text}}</p>
        <div class="col-7 pb-5 mt-3">
            

            <div class="form-group">
                     
            
            </div>


            <div class="text-center new-compain-p d-flex align-items-center justify-content-center mb-4">
            </div>

            <div class=" d-flex justify-content-center ">
                <select id="Neighborhood" class="ExportingDonationsAndContributions-input p-2 m-2" >
                    <option value="" disabled selected hidden>בחר שכונה</option>                       
                     <option *ngFor="let neighborhood of neighborhoods" [value]="neighborhood.id">{{ neighborhood.name }}</option>
                </select> 
                <!-- <input type="text" placeholder="הכנס שם שכונה"
                    class="ExportingDonationsAndContributions-input p-2 m-2" /> -->
                <!-- <button class="ExportingDonationsAndContributions-button m-2 "></button> -->
            </div>
            <div class="text-center mt-3">
                <button class="px-4 py-2 ExportingDonationsAndContributions" (click)="downloadDonatesCSV()"> ייצוא לאקסל</button>
            </div>
        </div>
    </div>
</div>