
<div id="Nedarim-HTML" style="width:80%;max-width:500px;border:2px solid cadetblue;padding:20px;margin-right:auto;margin-left:auto">
    <div style="text-align:center">
        <h3>טופס תשלום </h3>
        <!-- <span></span> -->
    </div>

    <div style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
        <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">FirstName:</span><br />
        <input id="FirstName" type="text" [(ngModel)]="newDonor.FirstName" maxlength="30" class="TextBox" /><br />
    </div>

    <div style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
        <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">LastName:</span><br />
        <input id="LastName"  [(ngModel)]="newDonor.LastName" type="text" maxlength="30" class="TextBox" /><br />
    </div>

    <div style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
        <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">Street:</span><br />
        <input id="Street" type="text" maxlength="30" [(ngModel)]="newDonor.Street" class="TextBox" /><br />
    </div>

    <div style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
        <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">City:</span><br />
        <input id="City" type="text" maxlength="30" [(ngModel)]="newDonor.City" class="TextBox" /><br />
    </div>

    <div style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
        <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">Zeout:</span><br />
        <input id="Zeout" type="text" maxlength="30"  class="TextBox" /><br />
    </div>

    <div style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
        <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">Phone:</span><br />
        <input id="Phone" type="text" maxlength="30" [(ngModel)]="newDonor.Phone" class="TextBox" /><br />
    </div>

    <div style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
        <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">Mail:</span><br />
        <input id="Mail" type="text" maxlength="30" [(ngModel)]="newDonor.Email" class="TextBox" /><br />
    </div>


    <div id="TokefDiv" style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%;display:none">
        <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">Expiration:</span><br />
        <input id="Tokef" type="text" maxlength="30" class="TextBox" /><br />
    </div>

    <!-- <div id="PaymentTypeDiv" style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
        <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">PaymentType:</span><br />
        <select id="PaymentType" [(ngModel)]="selectedPaymentType">
            <option value="Ragil">Ragil</option>
            <option value="HK">HK</option>
        </select>
        <br />
    </div> -->
    <button (click)="PaymentTypeClick('Ragil')">Ragil</button>
    <button (click)="PaymentTypeClick('HK')">HK</button>

    <div *ngIf="selectedPaymentType === 'Ragil'">
        
    <div style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
        <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">Amount:</span><br />
        <input id="Amount" type="number" maxlength="30" class="TextBox" [(ngModel)]="amount"/><br />
    </div>

    
    <div style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
        <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">Tashlumim:</span><br />
        <input id="Tashlumim" type="text" maxlength="30" class="TextBox" /><br />
    </div>
    </div>

    <div *ngIf="selectedPaymentType === 'HK'">
        
        <div style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
            <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">AmountHK:</span><br />
            <input id="Amount" type="number" maxlength="30" class="TextBox" [(ngModel)]="amount"/><br />
        </div>
    
        
        <div style="vertical-align
        :top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
            <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">TashlumimHK:</span><br />
            <input id="Tashlumim" type="text" [(ngModel)]="Tashlumim" maxlength="30" class="TextBox" /><br />
        </div>



        </div>
        <div>
            <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">Make my donation anonymous</span><br />
            <input id="ifAnonymous" type="checkbox" [(ngModel)]="newDonation.isAnonymous">
          
        </div>
        <textarea matInput placeholder="Write your dedication here" rows="10" [(ngModel)]="newDonation.dedication"></textarea>
          
        <!-- <div id="NeighborhoodDiv" style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
            <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">Neighborhood:</span><br />
            <select id="PaymentType">
                <mat-option value="1">1232</mat-option>
            </select>
            <br />
        </div>    -->
        <div id="NeighborhoodDiv" style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
            <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">Neighborhood:</span><br />
            <select id="Neighborhood" [(ngModel)]="selectedNeighborhood" >
                <option *ngFor="let neighborhood of neighborhoods"  [(ngModel)]="newDonation.idNeighborhood" [value]="neighborhood.id">{{ neighborhood.name }}</option>
              </select>
            <br />
        </div>
       
          
       
        <div style="vertical-align:top;text-align:left;margin:15px 0px 15px 0px;min-width:100%">
            <span style="text-align:left; min-width:100%;margin-right:1px;color:#808080">Comment:</span><br />
            <input id="Comment" type="text" maxlength="30" class="TextBox" /><br />
        </div>  

       



    <iframe id="NedarimFrame" style="width:100%;-webkit-box-sizing:border-box;height:0px;border:1px solid indianred;" scrolling="no" src="iframe/nedarimplus/pro.matara.www://https"></iframe>
    <div style="text-align:center;padding:10px 0px;font-family:Assistant,Arial;color:#808080" id="WaitNedarimFrame"><img src="waitnew.gif" style="width:50px;" /><br />Connecting to PCI Server...</div>

    <div id="OkDiv" style="font-weight:bold;color:#47ba18;padding:5px;display:none;text-align:center">Transaction Done - העסקה בוצעה בהצלחה</div>

    <div id="PayBtDiv" style="margin:20px 0px 15px 0px;text-align:center">
        <input type="button" id="PayBt" style="cursor:pointer;color:white;background-color:#17a2b8;text-align:center" value="ביצוע תשלום" class="TextBox" onclick="PayBtClick()" />
        <div id="ErrorDiv" style="font-weight:bold;color:firebrick;padding:5px"></div>
    </div>
    <div style="text-align:center;padding:10px 0px;font-family:Assistant,Arial;color:#808080;display:none" id="WaitPay"><img src="waitnew.gif" style="width:50px;" /><br />מבצע חיוב, נא להמתין...</div>

    <div id="Result" style="text-align:center" dir="ltr"></div>


</div>
<button (click)="keepData()">keepData </button>
<app-show-donations [donate]="donated" [sumDonationsByDonated]="sumDonationsByDonated"></app-show-donations>
<script src="../../assets/check/script.js"></script>

