









<div class="wrap">

<br><br>
<mat-card-header class="header-title">
  <p class="title">Donate Now</p>
</mat-card-header>
<div class="container-payment">
  <div class="container mt-5">


    <div class="payment-form-container">

      <div *ngIf="idDonated==0" class="form-group" id="NeighborhoodDiv">
        <label for="Neighborhood">
          <h1 class="fas fa-user text-center" for="Neighborhood">Which neighborhood is your donation intended for?</h1>
        </label>
        <select id="Neighborhood" class="form-control" [(ngModel)]="selectedNeighborhood">
          <option *ngFor="let neighborhood of neighborhoods" [value]="neighborhood.id">{{ neighborhood.name }}</option>
        </select>
      </div>
      <div *ngIf="idDonated!=0" class="form-group" id="NeighborhoodDiv">
        <h1 class="fas fa-user text-center" id="Neighborhooddonated" value="donated.idNeighborhood" for="Neighborhood">You donate the money directly to a family living in {{donated.idNeighborhoodNavigation.name}}</h1>
      </div>
      <hr>
      <!-- Personal Information -->
      <div class="divider">
        <h1><i class="fas fa-user"></i> Personal Information </h1>
        <form (ngSubmit)="keepData()" #myForm="ngForm">
          <div class="row mb-4">
            <div class="col-md-4">


              <div class="form-group">
                <label for="FirstName">First Name *: </label>
                <input id="FirstName" type="text" name="Fname" maxlength="30" required pattern="[A-Za-zא-ת]+"
                  class="form-control" [(ngModel)]="newDonor.firstName" #Fname='ngModel' />
                <p class="formIntegrity " *ngIf="(Fname.touched||ValidFlag==false)&&Fname.errors?.['required']">name is required.</p>
                <p class="formIntegrity" *ngIf="(Fname.touched||ValidFlag==false)&&Fname.errors?.['pattern']">name includs only letters</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="LastName">Last Name *:</label>
                <input id="LastName" name="Lname" [(ngModel)]="newDonor.lastName" #Lname='ngModel' type="text"
                  maxlength="30" required pattern="[A-Za-zא-ת]+" class="form-control" />
                <p class="formIntegrity" *ngIf="(Lname.touched||ValidFlag==false)&&Lname.errors?.['required']">name is required.</p>
                <p class="formIntegrity" *ngIf="(Lname.touched||ValidFlag==false)&&Lname.errors?.['pattern']">name includs only letters</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="Street">Street:</label>
                <input id="Street" type="text" maxlength="30" [(ngModel)]="newDonor.street" class="form-control" />
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-4">
              <div class="form-group">
                <label for="City">City:</label>
                <input id="City" type="text" maxlength="30" [(ngModel)]="newDonor.city" class="form-control" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="Zeout">Zeout:</label>
                <input id="Zeout" type="text" maxlength="30" class="form-control" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="Phone">Phone *:</label>
                <input id="Phone" name="phone" type="text" maxlength="30" [(ngModel)]="newDonor.phone" #phone='ngModel'
                  class="form-control" required pattern="^05[0-9]{8}$" minlength="10" maxlength="10" />

                <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched ||ValidFlag==false)" class="text-danger ">
                  <div class="formIntegrity" *ngIf="phone.errors?.['required']">Phone number required</div>
                  <div class="formIntegrity" *ngIf="phone.errors?.['pattern']">Invalid phone number</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-4">
              <div class="form-group">
                <label for="Mail">Mail *:</label>
                <input id="Mail" type="text" name="email" maxlength="30" [(ngModel)]="newDonor.email" #email='ngModel'
                  class="form-control" required email />
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched||ValidFlag==false)" class="text-danger ">
                  <div class="formIntegrity" *ngIf="email.errors?.['required']">Email address required</div>
                  <div class="formIntegrity" *ngIf="email.errors?.['email']"> Invalid email address</div>
                </div>
              </div>
            </div>

            <div class="col-md-8">
              <div class="form-group">
                <label for="Comment">Comment:</label>
                <input id="Comment" type="text" maxlength="30" class="form-control" />
              </div>
            </div>
          </div>
        </form>


        <div class="form-check">
          <input id="ifAnonymous" class="form-check-input" type="checkbox" [(ngModel)]="newDonation.isAnonymous">
          <label class="form-check-label" for="ifAnonymous">Make my donation anonymous</label>
        </div>
      </div>

      <hr />

      <!-- Donation Details -->
      <div class="divider">
        <h1><i class="fas fa-heart"></i> Donation Details</h1>




        <div class="form-group">
          <label for="Quetel">Quetel:</label>
          <input id="Quetel" type="text" maxlength="30" class="form-control" [(ngModel)]="newDonation.quetel" />
        </div>



        <div class="form-group mt-3">
          <label for="dedication">dedication: (will be displayed on campaign page)</label>
          <input id="dedication" matInput placeholder="Write your dedication here" rows="5"
            [(ngModel)]="newDonation.dedication" class="form-control">
        </div>


      </div>

      <hr />

      <!-- Payment Type Buttons -->
      <div class="divider">
        <div class="divider">
          <h1><i class="fas fa-credit-card"></i> Payment Type</h1>

          <div class="form-group mt-3 text-center">
            <div class="btn-group" role="group" aria-label="Font Style">
              <button type="button" class=" btn-outline-primar  d-flex flex-column align-items-center"
                [ngClass]="{'active': selectedPaymentType === 'Ragil'} " (click)="PaymentTypeClick('Ragil')">
                <!-- <div class="d-flex flex-column align-items-center"> -->
                <mat-icon *ngIf="selectedPaymentType === 'Ragil' " class="mb-0">done</mat-icon>
                <mat-icon *ngIf="selectedPaymentType ==undefined " class="mb-0">circle</mat-icon>
                <h2 class="mb-0">Single donation/ installments</h2>
                <!-- </div> -->
              </button>
              <button type="button" value="HK" ID="selectedPaymentType"
                class=" btn-outline-primar  d-flex flex-column align-items-center"
                [ngClass]="{'active': selectedPaymentType === 'HK'}" (click)="PaymentTypeClick('HK')">
                <!-- <div class="d-flex flex-column align-items-center"> -->
                <mat-icon *ngIf="selectedPaymentType === 'HK' " class="mb-0">done</mat-icon>
                <h2 class="mb-0">Donation by direct debit</h2>
                <!-- </div> -->
              </button>
            </div>
          </div>


        </div>

        <br>
        <div class="row mx-auto centered-group">
          <div class="col-md-6 form-group">
            <label *ngIf="selectedPaymentType === 'Ragil'" for="Amount">Amount:</label>

            <label *ngIf="selectedPaymentType === 'HK'" for="AmountHK">Billing amount per month:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input id="Amount" type="number" maxlength="30" class="form-control" placeholder="Amount"
                [(ngModel)]="amount" required />
            </div>
          </div>

          <div class="col-md-4 form-group">
            <label for="Tashlumim">Tashlumim:</label>
            <input id="Tashlumim" type="number" maxlength="30" class="form-control" [(ngModel)]="Tashlumim" value="1"
              required />
          </div>
        </div>





      </div>
      <div class="row p-5">
        <h2 class="col-6 text-center p-2 mb-0">total payment : </h2>
        <p class="col-3 p-2 mb-0 h2 " *ngIf="amount!=0 && amount!=null">{{amount*Tashlumim}}$</p>
      </div>
      <hr />
      <!-- Credit Card Information (Original IFRAME) -->
      <div class="divider">
        <h1><i class="fas fa-credit-card"></i> Credit Card Information</h1>
        <iframe id="NedarimFrame" style="width:100%;-webkit-box-sizing:border-box;height:0px;border:1px " scrolling="no"      
          src="https://matara.pro/nedarimplus/iframe?language=en"></iframe>
       
          <!-- src="iframe/nedarimplus/pro.matara.www://https"></iframe> -->
      </div>

      <!-- Additional Elements (buttons, results, etc.) -->
      <div class="divider">
        <div style="text-align:center;padding:10px 0px;font-family:Assistant,Arial;color:#808080" id="WaitNedarimFrame">
          <!-- <img src="waitnew.gif" class="imgWaitNew" alt="" /> -->
          <br />Connecting to PCI Server...
        </div>

        

        <div id="OkDiv"  style="font-weight:bold;color:#47ba18;padding:5px;display:none;text-align:center">Transaction
          Done
          - The transaction was successfully completed</div>


        <div id="PayBtDiv" style="text-align:center">
          <input type="button" id="PayBt" value="Donate Now" class="TextBox" (click)="formIsValid()"  onclick="PayBtClick()"
             />
            <div *ngIf="!ValidFlag" id="NotValid" style="font-weight:bold;color:firebrick;padding:5px">
              {{errorValid}}
            </div>

          <div id="ErrorDiv" style="font-weight:bold;color:firebrick;padding:5px"></div>
        </div>
        <!-- <button type="button" id="PayBt" value="תרום עכשיו" class="TextBox" (click)="PayBtClick()" [disabled]="!formIsValid()">תרום עכשיו</button> -->

        <div style="text-align:center;padding:10px 0px;font-family:Assistant,Arial;color:#808080;display:none"
          id="WaitPay">
          <img src="waitnew.gif" style="width:50px;" /><br />Making the payment, please wait...
        </div>

        <div id="Result" class="Result"  dir="ltr"></div>

        <!-- <button (click)="keepData()" [disabled]="myForm.invalid"> keepData </button> -->
      </div>
    </div>

  </div>

  <div class="show-donations">
    <app-show-donations [donate]="donated" [sumDonationsByDonated]="sumDonationsByDonated"></app-show-donations>
  </div>

</div>
</div>
<script src="../../assets/check/script.js"></script>


