.new-compain-wrapper {

    .new-compain {
        margin-top: 80px;
        border: 5px solid #054556 !important;
    }
}

.new-compain-p {
    height: 70px;
    background-color: black;
    color: white;
    margin: 0 auto;
    font-family: sans-serif;
    
    font-size: 26px;
    /* display: flex;

    align-items: center; */
}
.exportLists{
    background-color: #FFAF00;
    border: none;
    height: 40px;
    font-family: sans-serif;
    font-size: 23px;
    width: 100%;
}
.new-compain-button{
    background-color: white;
    height: 70px;
    font-family: sans-serif;
    font-size: 26px;
}

/* .confirm-password {
        border: 9px solid #FFAF00 !important;
    
        p {
            font-family: system-ui;
            font-size: 24px;
        }
    
        .input-password {
            height: 70px;
            font-family: system-ui;
            padding-right: 11px;
        }
    
        .button {
            background-color: #054556;
            height: 70px;
            color: white;
            margin-right: 56px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
        }
    } */