<!-- 
<form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" #userForm="ngForm" class="modal-content animate" action="" method="post"
  autocomplete="off">
  <div class="logo-div">
  </div>
  <div class="container">
    <br>
    <label for="psw">Manager Name:</label>
    <input type="text" id="fullName" formControlName="ManagerName" placeholder="Enter Manager Name" value="loginForm?.ManagerName">
    
    <label for="psw"><b>Email</b></label>
    <input #c type="email"  placeholder="Enter Email"  formControlName="Email" id="email"  value="loginForm?.Email" name="Eml" [ngClass]="{'invalid-field': formControls['Email'].invalid && (formControls['Email'].dirty || formControls['Email'].touched)}"  />
    <div *ngIf="formControls['Email'].invalid && (formControls['Email'].dirty || formControls['Email'].touched)">
      <div *ngIf="formControls['Email'].errors?.['required']">
        Email is required.
      </div>
      <div *ngIf="formControls['Email'].errors?.['minlength']">
        Email must be at least 5 characters long.
      </div>
      <div *ngIf="formControls['Email'].errors?.['email']">
        Please enter a valid email address.
      </div>
    </div>

    <label for="psw"><b>Password</b></label>
    <input  type="password" formControlName="Password"  placeholder="Enter Password"  value="loginForm?.Password" name="psw" id="password" [ngClass]="{'invalid-field': formControls['Password'].invalid && (formControls['Password'].dirty || formControls['Password'].touched)}"/>
    <div *ngIf="formControls['Password'].invalid && (formControls['Password'].dirty || formControls['Password'].touched)">
      <div *ngIf="formControls['Password'].errors?.['required']">
        Password is required.
      </div>
      <div *ngIf="formControls['Password'].errors?.['minlength']">
        Password must be at least 6 characters long.
      </div>
      <div *ngIf="formControls['Password'].errors?.['pattern']">
        Password should contain at least one letter and one number.
      </div>
    </div>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
  <div class="container" style="background-color:#f1f1f1; padding: 16px;">
  </div>
  <button type="submit">submit</button>
</form> -->

<div class="container update-manager-details-wrapper" dir="rtl">
  <h3 class=" update-manager-p my-5 px-4">עדכון פרטי מנהל</h3>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 col-xl-4">
      <div class="form-default form-layout-01">
        <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" #userForm="ngForm" class="modal-content animate"
          action="" method="post" autocomplete="off">


        <div class="form-group my-4">
          <label class="mb-2 label" for="loginInputMail">שם מנהל: * </label>
          <input type="text" id="fullName" formControlName="ManagerName" placeholder="הכנס שם מנהל"
            value="loginForm?.ManagerName" required pattern="[A-Za-zא-ת]+" class="form-control p-2">
          <div class="formIntegrity"
            *ngIf="formControls['ManagerName'].invalid && (formControls['ManagerName'].dirty || formControls['ManagerName'].touched)">
            <div class="formIntegrity" *ngIf="formControls['ManagerName'].errors?.['required']">
              דרושה שם מנהל. </div>

          </div>


        </div>

        <div class="form-group my-4 ">
          <label class="mb-2 label" for="loginInputMail">סיסמא: * </label>
          <input class="form-control p-2" type="password" formControlName="Password" placeholder="הכנס סיסמא"
            value="loginForm?.Password" name="psw" id="password"
            [ngClass]="{'invalid-field': formControls['Password'].invalid && (formControls['Password'].dirty || formControls['Password'].touched)}" />
          <div class="formIntegrity"
            *ngIf="formControls['Password'].invalid && (formControls['Password'].dirty || formControls['Password'].touched)">
            <div class="formIntegrity" *ngIf="formControls['Password'].errors?.['required']">
              דרושה סיסמא. </div>
            <div class="formIntegrity" *ngIf="formControls['Password'].errors?.['minlength']">
              הסיסמה חייבת להיות באורך של לפחות 6 תווים. </div>
            <div class="formIntegrity" *ngIf="formControls['Password'].errors?.['pattern']">
              הסיסמה צריכה להכיל לפחות אות אחת ומספר אחד. </div>
          </div>

        </div>


        <div class="form-group my-4">
          <label class="mb-2 label" for="loginInputMail">מייל: * </label>
          <input class="form-control p-2" #c type="email" placeholder="הכנס כתובת מייל" formControlName="Email"
            id="email" value="loginForm?.Email" name="Eml"
            [ngClass]="{'invalid-field': formControls['Email'].invalid && (formControls['Email'].dirty || formControls['Email'].touched)}" />
          <div class="formIntegrity"
            *ngIf="formControls['Email'].invalid && (formControls['Email'].dirty || formControls['Email'].touched)">
            <div class="formIntegrity" *ngIf="formControls['Email'].errors?.['required']">
              נדרש אימייל. </div>
            <div class="formIntegrity" *ngIf="formControls['Email'].errors?.['minlength']">
              הדוא"ל חייב להיות באורך 5 תווים לפחות.
            </div>
            <div class="formIntegrity" *ngIf="formControls['Email'].errors?.['email']">
              בבקשה להכניס כתובת מייל תקינה
            </div>
          </div>

        </div>

        <div class="text-center d-flex justify-content-center">
          <button class="update-button px-5 py-2 mb-5" [disabled]="!loginForm.valid">עדכון</button>
        </div>

        </form>
      </div>


    </div>
  </div>
</div>






<!-- 
<form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" #userForm="ngForm" class="modal-content animate" action="" method="post"
  autocomplete="off">
  <div class="logo-div">
  </div>
  <div class="container">
    <br>
    <label for="psw">Manager Name:</label>
    <input type="text" id="fullName" formControlName="ManagerName" placeholder="Enter Manager Name" value="loginForm?.ManagerName">
    
    <label for="psw"><b>Email</b></label>
    <input #c type="email"  placeholder="Enter Email"  formControlName="Email" id="email"  value="loginForm?.Email" name="Eml" [ngClass]="{'invalid-field': formControls['Email'].invalid && (formControls['Email'].dirty || formControls['Email'].touched)}"  />
    <div *ngIf="formControls['Email'].invalid && (formControls['Email'].dirty || formControls['Email'].touched)">
      <div *ngIf="formControls['Email'].errors?.['required']">
        Email is required.
      </div>
      <div *ngIf="formControls['Email'].errors?.['minlength']">
        Email must be at least 5 characters long.
      </div>
      <div *ngIf="formControls['Email'].errors?.['email']">
        Please enter a valid email address.
      </div>
    </div>

    <label for="psw"><b>Password</b></label>
    <input  type="password" formControlName="Password"  placeholder="Enter Password"  value="loginForm?.Password" name="psw" id="password" [ngClass]="{'invalid-field': formControls['Password'].invalid && (formControls['Password'].dirty || formControls['Password'].touched)}"/>
    <div *ngIf="formControls['Password'].invalid && (formControls['Password'].dirty || formControls['Password'].touched)">
      <div *ngIf="formControls['Password'].errors?.['required']">
        Password is required.
      </div>
      <div *ngIf="formControls['Password'].errors?.['minlength']">
        Password must be at least 6 characters long.
      </div>
      <div *ngIf="formControls['Password'].errors?.['pattern']">
        Password should contain at least one letter and one number.
      </div>
    </div>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
  <div class="container" style="background-color:#f1f1f1; padding: 16px;">
  </div>
  <button type="submit">submit</button>
</form> -->