.update-manager-details-wrapper {
  margin-top: 80px;
  border: 5px solid #054556 !important;
}
.update-manager-p{
  font-family: sans-serif;
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 10px 
}

.form-control {
  border-radius: 2px;
  background-color: lightgray;
  font-family: sans-serif;
  color: #003036;
}

.form-control:focus {
  box-shadow: 0 0 0 0;
  border-color: white;
  border-radius: 2px;
  background-color: #EBECED;
  font-family: sans-serif;
  color: #003036;
}

.formIntegrity {
  font-size: 12px;
  color: red;
  padding: 0%;
  margin: 0%;
}

.label {
  font-family: system-ui;
}
.update-button{
  height: 60px;
  font-family:sans-serif;
  font-size: 25px;
  background-color: #FFAF00;
  border: none;
}