<button (click)="familyOfChildren(5)">family of 2-5 children</button>
<button (click)="familyOfChildren(10)">family of 5-10 children</button>
<button (click)="familyOfChildren(15)">family of 10-15 children</button>
<button (click)="familyOfChildren(21)">family of 15-21 children</button>
<br>
<br>
<button (click)="funded(true)">funded</button>
<button (click)="funded(false)">not funded</button>
<br>
<br>
<button (click)="needed(499)">needed 0-499</button>
<button (click)="needed(999)">needed 500-999</button>
<button (click)="needed(1500)">needed 1000-1500</button>
<br>
<br>
<button (click)="status()">Widowed</button>
<button (click)="status()">Married</button>
<button (click)="status()">Divorced</button>