.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

.form-container {
  width: 90%;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
}

.image-wrapper {
  width: 30%;
  position: relative; /* להגדיר כדי שנוכל למקם את ה-DIV עליו */
}

.image-wrapper img {
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact-details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.contact-details h3 {
  margin-bottom: 10px;
}

.contact-details p {
  margin: 5px 0;
}

.contact-form {
  width: 65%;
}

.name-fields {
  display: flex;
  flex-direction: column;
}

.contact-fields {
  display: flex;
  flex-direction: column;
}

.message-field {
  height: 150px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button[type="submit"] {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .form-wrapper {
    flex-direction: column;
  }
  
  .image-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .contact-form {
    width: 100%;
  }
}



/* ------------------ */
/* @keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.container {
  position: relative;
  top: -80px;
  transform: skewY(-20deg);
  animation: animate 5s linear infinite;
  .cube {
    position: relative;
    z-index: 2;
    &:nth-child(2) {
      z-index: 1;
      translate: -60px -60px;
    }
    &:nth-child(3) {
      z-index: 3;
      translate: 60px 60px;
    }
    div {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 30px;
      translate: calc(-70px * var(--x)) calc(-60px * var(--y));
      span {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #dcdcdc;
        z-index: calc(1 * var(--i));
        transition: 1.5s;
        &:hover {
          transition: 0s;
          background: #ef4149;
          filter: drop-shadow(0 0 30px #ef4149);
          &:before,
          &:after {
            transition: 0s;
            background: #ef4149;
          }
        }
        &:before {
          content: "";
          position: absolute;
          left: -40px;
          width: 40px;
          height: 100%;
          background: #fff;
          transform-origin: right;
          transform: skewY(45deg);
          transition: 1.5s;
        }
        &:after {
          content: "";
          position: absolute;
          top: -40px;
          left: 0px;
          width: 100%;
          height: 40px;
          background: #f2f2f2;
          transform-origin: bottom;
          transform: skewX(45deg);
          transition: 1.5s;
        }
      }
    }
  }
} */
