<div class="container update-manager-details-wrapper" dir="rtl">
    <h3 class=" update-manager-p my-5 px-4">הוספת מנהל חדש</h3>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <!-- <div id="login"> -->
            <div class="form-default form-layout-01">
                <form (ngSubmit)="saveUser(refUserForm)" #myForm="ngForm" #refUserForm>


                    <div class="form-group my-4">
                        <label class="mb-2 label" for="loginInputMail">שם מנהל: * </label>
                        <input id="name" name="name" [(ngModel)]="manager.managerName" #name='ngModel' type="text"
                            maxlength="30" required pattern="[A-Za-zא-ת]+" class="form-control p-2" />
                        <p class="formIntegrity" *ngIf="name.touched&&name.errors?.['required']">name is required.</p>
                        <p class="formIntegrity" *ngIf="name.touched&&name.errors?.['pattern']">name includs only
                            letters</p>
                    </div>

                    <div class="form-group my-4 ">
                        <label class="mb-2 label" for="loginInputMail">סיסמא: * </label>
                        <input type="password" [(ngModel)]="manager.password" name="password" #password='ngModel'
                            class="form-control p-2" id="loginInputPassword" required minlength="4"
                            password>
                        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                            <p class="formIntegrity" *ngIf="password.errors?.['required']">כתובת אימייל חובה</p>
                            <p class="formIntegrity" *ngIf="password.errors?.['password']">כתובת אימייל לא חוקית</p>
                        </div>
                    </div>


                    <div class="form-group my-4">
                        <label class="mb-2 label" for="loginInputMail">מייל: * </label>
                        <input type="email" [(ngModel)]="manager.email" #email='ngModel' name="email"
                            class="form-control p-2" id="loginInputMail"  required email>
                        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                            <p class="formIntegrity" *ngIf="email.errors?.['required']">כתובת אימייל חובה</p>
                            <p class="formIntegrity" *ngIf="email.errors?.['email']">כתובת אימייל לא חוקית</p>
                        </div>
                    </div>
                    <div class="text-center d-flex justify-content-center">

                        <button class="update-button px-5 py-2 mb-5">הוספה</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>