<!-- 
        <owl-carousel-o [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <ng-template carouselSlide>
              <div class="item" *ngFor="let image of images">
                <img [src]="image" alt="Slide">
              
        
          </div>
            </ng-template>
          </owl-carousel-o>
         -->





<!-- <div class="counterConainr">
            <div *ngFor="let counter of counters; let i = index" class="counter counter{{i + 1}} {{i % 2 === 0 ? 'mt-3' : 'mt-5'}} {{i === 3 ? 'col' : 'col-md-6'}}">
              <div class="number">{{ counter.current| number: '1.0-0' }}</div>
            </div>
          </div>
           -->
<div class="bg-image_goal">
  <div class="bg-image1">
    <img class="bg-image" [src]="bgGoalImage" alt="" class="bg-image">
  </div>
  <br><br><br>



  <div class="counterConainr">
    <div class="counter-wrapper">
      <div class="counter-col">
        <div class="counter counter1">
          <div class="number">
            <H5 class="Goal-Campaign">Goal Campaign</H5>${{ counters[0].current | number: '1.0-0' }}
          </div>
        </div>
        <div class="counter counter2">
          <div class="number">
            <H5 class="TotalRaised">Total raised</H5> ${{ counters[1].current | number: '1.0-0' }}
          </div>
        </div>
      </div>
      <div class="counter-row">
        <div class="counter counter3">
          <div class="number">
            <H1 class="numFamily">Families funded</H1>{{ counters[2].current | number: '1.0-0' }}
          </div>
        </div>
        <div class="counter counter4">
          <div class="number">
            <H1 class="numChildren">Children funded</H1> {{ counters[3].current | number: '1.0-0' }}
          </div>
        </div>
      </div>
    </div>
    <div class="timer-responsivi">
      <div class="timer_numbers1">{{ formattedTime }}</div>
      <div class=timer_text>
        <p  class=timer_Day>Day</p>
        <p  class=timer_Hours> Hours </p>
        <p  class=timer_Minutes> Minutes</p>
        <p  class=timer_Seconds> Seconds</p>
      </div>

    </div>

  </div>
  <div class="circular-bar">
    <img [src]="circularBarImage" alt="../../assets/images/2.jpg" class="rounded-circle">

 

    <igx-circular-bar [value]="valuetimeInMilliseconds" [max]="100" [animate]="true" class="igx-circular-bar">

      <ng-template igxProgressBarGradient let-id>

        <svg:linearGradient [id]="id" gradientTransform="rotate(90)">
          <stop offset="0%" stop-color=" #054550" />
          <stop offset="50%" stop-color="#1eccd4" />
          <stop offset="100%" stop-color="#FFAF00" />
        </svg:linearGradient>
      </ng-template>
    </igx-circular-bar>
    <div class="timer">
      <div class="timer_numbers">{{ formattedTime }}</div>
      <div class=timer_text>
        <p  class=timer_Day>Day</p>
        <p  class=timer_Hours> Hours </p>
        <p  class=timer_Minutes> Minutes</p>
        <p  class=timer_Seconds> Seconds</p>
      </div>

    </div>
  </div>

</div>
<!-- <img src="../../assets/images/RAMOT1.jpg" class="rounded-circle" alt="Cinque Terre"> -->
<!-- <img class="img"  src="../../assets/images/RAMOT1.jpg">  -->


<!-- <br><br><br>
<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let slide of images">
    <ng-template carouselSlide [id]="slide.id">
      <div class="carousel-image">
        <div class="carousel-image__div">
          <img class="carousel-image__img" [src]="slide.src" alt="slide.alt" [title]="">
        </div>
        <div class="image-caption">
          <h1>{{ slide.title }}</h1>
          <p>{{ slide.description }}</p>
          <button class="mat-raised-button mt-2" class="mat-raised-button" mat-raised-button
            [routerLink]="['/payment', 250]" routerLinkActive="active">
            <mat-icon>arrow_circle_right</mat-icon>
            <div class="DonateNow">Donate now</div>
          </button>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o> -->


<div class="container">
  <div class="card1">
    <div class="content-wrapper">
      <img class="image" src="../../assets/images/16_optimized.jpg" alt="Image Placeholder">
      <div class="text-content">
        <h2>Ramot Neighborhood Appeal</h2>
        <p>Ramot neighborhood, located in the heart of Jerusalem, is a place where the core of Torah and kindness reside. Here, in this neighborhood, where there are hundreds of synagogues and important study halls engaged in Torah studies extensively, charming children wander the streets, and Torah scholars, deep perception of Torah and kindness values characterize this neighborhood.</p>

        <p>However, there are economic challenges that affect the daily lives of residents and make it difficult for scholars to study calmly and peacefully. The cost of living and the ongoing conflict have raised the need for support from charity sources to unprecedented levels. The community is aware of this and is committed to providing a response.</p>

        <p>In order to help the righteous children and Torah scholars develop and grow properly, we need economic support from you, our dear donors. Your donation will allow us to provide the children with the necessary food and equipment, and support families in need of financial assistance.</p>

        <p>Thanks to your financial support, we will be able to turn the residents of Ramot into a strong, happy, and adapted community, where their lives will be richer and of higher quality. Every way of your contribution is important and welcome, and together we will prove that with our common strength we can help Torah students at the Ramot in Eretz Israel learn in a more relaxed way.</p>
      </div>
    </div>
    <div class="image">
      <button class="mat-raised-button" mat-raised-button [routerLink]="['/payment', 250]" routerLinkActive="active">
        <mat-icon>arrow_circle_right</mat-icon>
        <div class="DonateNow">Donate now</div>
      </button>
    </div>
  </div>
</div>







<h1>Pictures of Ramot</h1>
<ul class="gallery">
  <!-- <li> <img src="../../assets/images/10-05-2023-11-20-52-WhatsApp-Image-2023-05-09-at-8.44.56-PM-1-758x426.jpeg" alt="cut citrus fruits. " />Lorem Ipsum</li>
  <li> <img src="../../assets/images/10-05-2023-11-20-55-WhatsApp-Image-2023-05-09-at-8.44.56-PM-2-758x426.jpeg" alt="sliced mango. " />Dolor Sit</li> -->
  <li> <img class="GalleryImage" [src]="imageUrl3" alt="a bunch of blueberries. " />{{imageUrl3Name}}</li>
  <li> <img class="GalleryImage" [src]="imageUrl4" alt="a pineapple sitting on a table. " />{{imageUrl4Name}}</li>
  <li> <img class="GalleryImage" [src]="imageUrl5" alt="frozen raspberries. " /> {{imageUrl5Name}}</li>
  <li> <img class="GalleryImage" [src]="imageUrl6" alt="a sliced strawberry. " />{{imageUrl6Name}}</li>
  <li> <img class="GalleryImage"[src]="imageUrl7" alt="an arrangement of assorted sliced fruits. " />{{imageUrl7Name}}</li>
  <li> <img class="GalleryImage" [src]="imageUrl8" alt="sliced watermelons. " />{{imageUrl8Name}}</li>
  <!-- <li> <img src="../../assets/images/kipod.jpg" alt="grapefruits, lemons, and pomegranates. " />Park in Ramot</li> -->
  <li> <img class="GalleryImage" [src]="imageUrl9" alt="half of an avocado. " />{{imageUrl9Name}}</li>
  <li> <img class="GalleryImage" [src]="imageUrl10" alt="half of a lime. " />{{imageUrl10Name}}</li>
  <!-- <li> <img src="../../assets/images/רמות-פולין-צילום-אביר-סולטן-פלאש-90.jpg" alt="a single cherry with stem. " />Ultricies Sollicitudin</li>
  <li> <img src="../../assets/images/Mitzpe-ramot-shtila-4687_00000.jpg" alt="a bunch of bananas. " />Gravida Nibh</li>
  <li> <img src="../../assets/images/galery11.jpg" alt="three pears. " />Pellentesque Sapien</li>
  <li> <img src="../../assets/images/IMG_8549.JPG" alt="a basket full of peaches next to a plate with sliced peaches. " />Suspendisse Vel</li> -->
  <li> <img class="GalleryImage" [src]="imageUrl11" alt="a bowl of avocados. " />{{imageUrl11Name}}</li>
</ul>

   
<!-- <div class="container">
  <mat-card>
    <div class="content-wrapper">
      <img class="image" src="../../assets/images/10_optimized.jpg" alt="Image Placeholder">
      <div class="text-content">
        <h2>Ramat Neighborhood Appeal</h2>
        <p>Ramat neighborhood, located in the heart of Jerusalem, is a place where the core of Torah and kindness reside. Here, in this neighborhood, where there are hundreds of synagogues and important study halls engaged in Torah studies extensively, charming children wander the streets, and Torah scholars, deep perception of Torah and kindness values characterize this neighborhood.</p>

        <p>However, there are economic challenges that affect the daily lives of residents and make it difficult for scholars to study calmly and peacefully. The cost of living and the ongoing conflict have raised the need for support from charity sources to unprecedented levels. The community is aware of this and is committed to providing a response.</p>

        <p>In order to help the righteous children and Torah scholars develop and grow properly, we need economic support from you, our dear donors. Your donation will allow us to provide the children with the necessary food and equipment, and support families in need of financial assistance.</p>

        <p>Thanks to your financial support, we will be able to turn the residents of Ramot into a strong, happy, and adapted community, where their lives will be richer and of higher quality. Every way of your contribution is important and welcome, and together we will prove that with our common strength we can help Torah students at the Ramat in Eretz Israel learn in a more relaxed way.</p>
      </div>
    </div>
  </mat-card>
</div> -->











<!-- <br><br> -->
<!-- -----mp4-----
<div class="container">
  <div class="side-rectangle">
    <video width="100%" height="100%" controls #videoPlayer1>
      <source src="../../assets/video/video1.mp4" type="video/mp4">
    </video>
    <div class="logo-overlay-video" (click)="playVideo(videoPlayer1)">
      <mat-icon class="logoVideo">play_circle</mat-icon>
    </div>
  </div>
  <div class="main-rectangle">
    <video width="100%" height="100%" controls #videoPlayer2>
      <source src="../../assets/video/video1.mp4" type="video/mp4">
    </video>
    <div class="logo-overlay-video" (click)="playVideo(videoPlayer2)">
      <mat-icon class="logoVideo">play_circle</mat-icon>
    </div>
  </div>
  <div class="side-rectangle">
    <video width="100%" height="100%" controls #videoPlayer3>
      <source src="../../assets/video/video1.mp4" type="video/mp4">
    </video>
    <div class="logo-overlay-video" (click)="playVideo(videoPlayer3)">
      <mat-icon class="logoVideo">play_circle</mat-icon>
    </div>
  </div>
</div> -->
<!-- <div class="container">
    <div class="side-rectangle">
      <video width="100%" height="100%" controls #videoPlayer1>
        <source src="../../assets/video/video1.mp4" type="video/mp4">
      </video>
      <div class="logo-overlay-video" (click)="playVideo(videoPlayer1, iconVideo1)">
        <mat-icon class="logoVideo" #iconVideo1>{{ isPlaying ? 'pause_circle' : 'play_circle' }}</mat-icon>
      </div>
    </div>
    <div class="main-rectangle">
      <video width="100%" height="100%" controls #videoPlayer2>
        <source src="../../assets/video/video1.mp4" type="video/mp4">
      </video>
      <div  class="logo-overlay-video" (click)="playVideo(videoPlayer2, iconVideo2)">
        <mat-icon class="logoVideo" *ngif="!isPlaying" #iconVideo2>{{ isPlaying ? 'pause_circle' : 'play_circle' }}</mat-icon>
      </div>
    </div>
    <div class="side-rectangle">
      <video width="100%" height="100%" controls #videoPlayer3>
        <source src="../../assets/video/video1.mp4" type="video/mp4">
      </video>
      <div class="logo-overlay-video" (click)="playVideo(videoPlayer3, iconVideo3)">
        <mat-icon class="logoVideo" #iconVideo3>{{ isPlaying ? 'pause_circle' : 'play_circle' }}</mat-icon>
      </div>
    </div>
  </div> -->


<!-- -----end mp4----- -->



<!-- <br><br> <br><br> <br><br> -->

<!-- 

 <div class="Goul">
    <H5 class="Goal-Campaign">Goal Campaign:</H5>  <span > {{currentGoul}}</span>
    <H5 class="Goal-Campaign">Total raised:</H5>  <span > {{currentTotalRaised}}</span>
</div>
<div class="Goul">
    <H5 class="numFamily">Families funded:</H5>  <span > {{currentNumFamily}}</span>
    <H5 class="numChildren">Children funded:</H5>  <span > {{currentNumChildren}}</span>
</div> -->


<!-- <div class="counter" *ngFor="let counter of counters">
    <span class="number" [ngStyle]="{ 'width.%': (counter.current / counter.target) * 100 }">{{ counter.current| number: '1.0-0' }}</span>
  </div> -->
<br><br>
  <h1>-- Help us help them -- </h1>
<app-families></app-families>
<!-- <app-show-donations></app-show-donations> -->
<!-- <button (click)="getByIdImage(1)">(click)="getByIdImage(1)"</button> -->

