body{background-image: url(../../../../../../pictures/RAMOT1.jpg);}
.Goul{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .igx-circular-bar{
    width: 100px;
    height: 100px;
  
  }
  













/*//////////////////////////////*/
