<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive='active' href="#">Home</a>
     
      <!-- <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/families']" routerLinkActive='active' href="#">Families</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']" routerLinkActive='active' href="#">Contact</a>
          </li>
        </ul> -->
       
        <a class="navbar-brand" [routerLink]="['/families']" routerLinkActive='active' href="#">Families</a>
        <a class="navbar-brand" [routerLink]="['/contact']" routerLinkActive='active' href="#">Contact</a>
        <a class="navbar-brand" [routerLink]="['/logIn']" routerLinkActive='active' href="#">LogIn</a>
        <div class="Goul">
       <H5  class="Goal-Campaign">Goal Campaign:</H5>  <span class="navbar-brand"> {{campaignGoul}}<h6>{{TotalRaisedPercentages}}%</h6></span>
      
        </div>
        <a class="navbar-brand" [routerLink]="['/payment',250]" routerLinkActive='active' href="#">Donate now</a>
        <a class="navbar-brand" [routerLink]="['/payment',numFamily]" routerLinkActive='active' href="#">Donate $1 to each family</a>

      </div>
      </div> 
  </nav>
