 <form class="example-form" [formGroup]="addFamilyForm" (ngSubmit)="onSubmitAddFamilyForm()">
    
        <mat-form-field class="example-full-width">
          <mat-label>תז הורים</mat-label>
          <input type="text" formControlName="ParentTaz" matInput placeholder="" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>שם המשפחה</mat-label>
            <input type="text" formControlName="Name" matInput placeholder="" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>מס ילדים</mat-label>
            <input type="number" formControlName="NumChildren" matInput placeholder="" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>רחוב</mat-label>
            <input type="text" formControlName="Street" matInput placeholder="" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>סכום נצרך לתמיכה</mat-label>
            <input  type="number" formControlName="Needed" matInput placeholder="" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>מס בניין</mat-label>
            <input  type="number" formControlName="NumberBuilding" matInput placeholder="" value="">
          </mat-form-field>

          <!-- <mat-form-field>
            <mat-label>Cars</mat-label>
            <select matNativeControl formControlName="Status">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </mat-form-field> -->
           <!-- <mat-form-field>
            <mat-label>סטטוס</mat-label>
            <mat-select formControlName="Status" name="status">
           
                <mat-option *ngFor="let food of f" [value]="f">{{f}}</mat-option>
                 
             </mat-select>
          </mat-form-field> -->
          <!-- <mat-form-field>
            <mat-label>שכונה</mat-label>
            <mat-select formControlName="Neighborhood" name="neighborhood">
                <mat-option *ngFor="neighborhoods" [value]="neighborhood.value">{{neighborhood.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>  -->
          <!-- <p> Selected food: {{selectedValue}} </p> -->
</form>