<form (submit)="uploadFile($event)">
    <input  type="file" (change)="onFileSelected($event)" />
    <div *ngIf="fileMessage">{{ fileMessage }}</div>
    <div *ngIf="selectedFile"   >
        <button class="btn"  mat-raised-button color="primary" type="submit" >העלאת הקובץ</button>
    </div>
    <a href="https://drive.google.com/drive/u/5/my-drive/תבנית - יבוא רשימת נתרמים.csv" download>Download Sample File</a>
  </form>
  <button (click)="downloadDonatesCSV()">להורדת קובץ אקסל של הנתרמים</button>


  <h2>-----campain-----</h2> 
  <div>
    <button class="btn"  mat-raised-button color="primary" (click)="updateCampaign()">עדכון הקמפיין </button>
  </div>
  <!-- <form [formGroup]="campaignForm" (ngSubmit)="onSubmitLoginForm()" #userForm="ngForm" class="modal-content animate" action="" method="post"autocomplete="off">
    <button type="submit">submit</button>
  </form>   -->
  

