<form (submit)="uploadFile($event)">
    <input  type="file" (change)="onFileSelected($event)" />
    <div *ngIf="fileMessage">{{ fileMessage }}</div>
    <div *ngIf="selectedFile"   >
        <button class="btn"  mat-raised-button color="primary" type="submit" >העלאת הקובץ</button>
    </div>
    <a href="https://drive.google.com/drive/u/5/my-drive/תבנית - יבוא רשימת נתרמים.csv" download>Download Sample File</a>
  </form>
  <button (click)="downloadDonatesCSV()">להורדת קובץ אקסל של הנתרמים</button>


  <h2>-----campain-----</h2> 
  <div>
    <button class="btn"  mat-raised-button color="primary" (click)="updateCampaign()">עדכון הקמפיין </button>
  </div>
  <!-- <form [formGroup]="campaignForm" (ngSubmit)="onSubmitCampaignForm()" #userForm="ngForm" class="modal-content animate" action="" method="post"autocomplete="off">
    <button type="submit">submit</button>
  </form>   -->
  
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

