<!-- <p>new-campaign-approval works!</p> -->

<div class="container  p-3" dir="rtl">
    <div class="new-campaign-approval p-4">
        <p class="text-center">בלחיצה על קמפיין חדש <br />תגרום לכל הנתונים שבקמפיין הנוכחי להתאפס, האם אתה בטוח שברצונך
            למחוק את הקמפיין הנוכחי<br />
            וליצור
            חדש?</p>
        <div class=" d-flex justify-content-between ">
            <button class="cancelation px-4" (click)="onCancel()">ביטול</button>
            <button class="creation px-4">יצירה</button>
        </div>
    </div>
</div>